
.row {

    margin: 0px;
    width: 100%;

    .col-12 {
        padding: 0px;
    }

    .navbar {
        box-shadow: 2px 2px 5px rgb(127, 120, 120);
    }

    nav {

        background-color: $color-principal;

        @media(min-width:768px) {
            max-height: 110px;
        }
        
        ul li a {
            color: white;
            margin: 20px;
            font-size: 25px;
        }
    }

    .logo {
        width: 210px;
        height: 140px;
        margin-left: 45px;
        margin-top: 10px;
      }

    .navbar-collapse {
        @media(max-width:768px) {
            text-align: center;
        }
    }

    .nav-item {
        @media(max-width:768px) {
            max-height: 70px;
            font-size: 25px;
        }
    }

  }


